<ag-grid-angular #agGrid class="ag-theme-alpine" [ngStyle]="{'height':'calc('+ hgt+'vh - 10px)'}" style="width: 100%;" [rowData]="rowData"
    [rowHeight]="rowHeight"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [frameworkComponents]="frameworkComponents"
    [sideBar]="sideBar"
    [rowSelection]="rowSelection"
    (selectionChanged)="onSelectionChanged()"
    (gridReady)="onGridReady($event)"
    [overlayNoRowsTemplate]="overlayNoRowsTemplate"
    [gridOptions]="gridOptions"
    [headerHeight]="35"
    [pagination]="true"
    [paginationPageSize]="paginationPageSize"
    [rowMultiSelectWithClick]="true"
    (filterOpened)="onFilterOpened($event)"
    (filterModified)="onFilterModified($event)"
    class="ag-theme-alpine"
    >
</ag-grid-angular>