<div class="main">
    <section class="banner_sec text-center py-3">
        <div class="col-12">
            <h2>Contact List</h2>
        </div>
    </section>

    <div class="wrapper_con my-3">
        <div class="row">
            <div class="col-6">
                <!-- <div class="uploadCsv">
                    <button type="button" class="btn btn-success" (click)="toUploadCSV()">Upload as CSV</button>
                </div> -->
            </div>
            <div class="col-6">
                <nav aria-label="...">
                    <ul class="pagination justify-content-end">
                        <!-- <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                      </li>  -->
                        <li class="page-item" >
                            <button class="page-link" (click)="toMessage()" [disabled]="selectedContacts.length==0" >Next</button>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-12">
                <!-- This space is empty for table content -->
                <div class="container-fluid mt-4">
                    <div class="text-center" *ngIf="isLoading">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <!-- <div *ngIf="errorStatus" class="text-center">
                        <h1>
                            {{errorMessage}}
                        </h1>
                    </div> -->
                    <app-ag-grid *ngIf="!isLoading" [paginationPageSize]="paginationPageSize"
                        [listData]="rowData" [header]="columnDefs" [hgt]="agGridHeight" [overlayNoRowsTemplate]="overlayNoRowsTemplate" 
                        (selecteRows)="getSelectedData($event)">
                    </app-ag-grid>
                </div>
            </div>
        </div>
    </div>
</div>