<!-- <div class="modal-header">
   <h4 class="modal-title"> User</h4>
   <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div> -->
<div class="modal-body py-4">
   <div class="row">
      <div class="col-4 align-items-center d-flex">
         <div class="delete-img">
            <img src="../../../assets/images/delete.png" class="img-fluid" alt="Delete Image">
         </div>
      </div>
      <div class="col-8">
         <p class="confirmation m-0">Are you sure you want to delete?</p>
         <p class="m-0"><strong>This cannot be undone</strong></p>
         <p class="compaign py-3">This will delete all history of this campaign in Tracks</p>
         <div class="row justify-content-between">
            <div class="col-6">
               <button type="submit" class="btn btn-outline-dark w-100" (click)="onCancel()">Cancel</button>
            </div>
            <div class="col-6 justify-content-end">
               <button type="submit" class="btn preview w-100" (click)="onDelete()">
                  <div class="spinner-border spinner-border-sm" role="status" *ngIf="isLoading">
                     <span class="sr-only">Loading...</span>
                  </div>
                   Delete</button>
            </div>
         </div>
      </div>

   </div>
</div>
<!-- <div class="modal-footer">
   <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div> -->