/* You can add global styles to this file, and also import other style files */
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

body {
    font-family: 'Poppins', sans-serif;
    /* overflow: hidden; */
}
@media only screen and (max-width: 1400px) {
    body {
        /* overflow: auto; */
    }
}

.page-link[disabled] {
    background-color: #797979 !important;
    color: white;
}


